<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rally Media | About</title>
    {{> default_head }}
</head>
<body>
	{{> header }}

<div class="container .width100">
<p class="caption">
Rally Media is a student collective that strives to create informative and thought provoking content for the online community.  Our writer base is comprised of students in journalism, photography, music, film, and fashion. Due to our varying geographical locations, we are able to provide you with a wide array of perspectives that affect different regions in both Canada and across the globe. We rally together to create a stream of content touching on sports, arts, and lifestyle. Rally Media is a proudly Canadian company.
</p>
</div>

{{> footer }}

</body>
</html>
