<!doctype html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>
<h2>
    Article posted:
    <a href="/article/{{ article.id }}">
        {{ article.id }}
    </a>
</h2>
<h3>
    "{{ article.title }}" in {{ article.section }}
</h3>
</body>
</html>