<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>
    {{> default_head }}
</head>
<body>
	{{> header }}
<div class="container-fluid">
<h1>{{ article.title }}</h1>
<img src="{{ article.imageUrl }}" alt="">
<p>
    {{ article.text }}
</p>
</div>
</body>
</html>