<!doctype html>
<html lang="en">
<head>
    {{> default_head }}
</head>
<body>
	{{> header }}
<h2 class="text-center">
    Article posted:
    <a href="/article/{{ article.slug }}">
        {{ article.title }}
    </a>
    <small>
        in {{ article.section }}
    </small>
</h2>
</body>
</html>