<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Contact Us</title>
   {{> default_head }}
</head>
<body>
{{> header }}
<div class="container header">
    <h1 class="custom-header">Want to write for RallyMedia?</h1>
</div>
<div class="container">
   <p>
If you are looking to contribute to Rally or join our growing writer base, feel free to send us an article or any original photograph that could be featured on our site. Join our team on a full-time or part-time basis, as we are constantly looking for diverse and new perspectives from different regions in Canada. <br><br>

Send all articles, photography, and/or resumes to:<br>
rallymedia.info@gmail.com
   </p>
</div>
{{> footer }}
</body>
</html>
