<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>We have encountered an error</title>
    {{> default_head }}
</head>
<body>
	{{> header }}
<h2 style="color: darkred;">
    {{ error }}
</h2>
</body>
</html>