<!DOCTYPE html>
<html lang="en">

<head>
    <title>Rally Media</title>
    {{> head }}
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> <img alt="Brand" src="img/logo.jpg" width="120px" height="60px;"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav custom-nav">
                <li><a href="#">Arts <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Lifestyle</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right custom-nav2">
                <li><a href="/about">about</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<!-- Page Content -->
<div class="container .width100">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-md-4 recent-articles">
            <div class="img-box"><img alt="can't show the image" class="img-responsive img-hover"
                                      src="http://placehold.it/700x450"/></div>
            <div class="sub">
                <span><h3>Heading</h3></span>
                <span><h5>Sub-Heading</h5></span>
            </div>
        </div>
        <div class="col-md-4 recent-articles">
            <div class="img-box"><img alt="can't show the image" class="img-responsive img-hover"
                                      src="http://placehold.it/700x450"/></div>
            <div class="sub">
                <span><h3>Heading</h3></span>
                <span><h5>Sub-Heading</h5></span>
            </div>
        </div>
        <div class="col-md-4 recent-articles">
            <div class="img-box"><img alt="can't show the image" class="img-responsive img-hover"
                                      src="http://placehold.it/700x450"/></div>
            <div class="sub">
                <span><h3>Heading</h3></span>
                <span><h5>Sub-Heading</h5></span>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Portfolio Heading</h2>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="../bower_components/jquery/dist/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>

</body>

</html>
