<!DOCTYPE html>
<html lang="en">

<head>
    <title>Rally Media</title>

    {{> head }}
</head>

<body class="container">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<article class="text-center">
    <div class="row">
        <h1>Staff</h1>
    </div>

    <div class="row">
        <h2 class="text-muted"><u>Service</u></h2>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/200x200" class="img-circle" alt="Angie, Service">
                <div class="caption">
                    <h3>Angie</h3>
                    <p>Phone: 555-5552</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://placebeard.it/200/200" class="img-circle" alt="Matt, Service">
                <div class="caption">
                    <h3>Matt</h3>
                    <p>Phone: 555-5553</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/200x200" class="img-circle" alt="Jim, Service">
                <div class="caption">
                    <h3>Jim</h3>
                    <p>Phone: 555-5554</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="text-muted"><u>Sales</u></h2>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/200x200" class="img-circle" alt="Abdul, Sales">
                <div class="caption">
                    <h3>Abdul</h3>
                    <p>Phone: 555-5550</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://www.fillmurray.com/200/200" class="img-circle" alt="David, Sales">
                <div class="caption">
                    <h3>David</h3>
                    <p>Phone: 555-5551</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h2 class="text-muted"><u>Parts</u></h2>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://loremflickr.com/200/200" class="img-circle" alt="Chris, Parts">
                <div class="caption">
                    <h3>Chris</h3>
                    <p>Phone: 555-5555</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://loremflickr.com/200/200" class="img-circle" alt="Chris, Parts">
                <div class="caption">
                    <h3>Sean</h3>
                    <p>Phone: 555-5556</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h2 class="text-muted"><u>Finance</u></h2>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://place-hoff.com/200/200" class="img-circle" alt="Brian, Finance">
                <div class="caption">
                    <h3>Brian</h3>
                    <p>Phone: 555-5557</p>
                </div>
            </div>
        </div>
    </div>

</article>

<hr>

</div>

</body>

</html>
