<!DOCTYPE html>
<html lang="en">

<head>
    <title>Rally Media | Staff</title>

    {{> default_head }}
</head>

<body class="container">
    {{> header }}
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<article class="text-center">
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail thumb-height">
                <img src="img/aaron.jpg" class="img-circle">
                <div class="caption">
                    <h3>Aaron Dutra</h3>
                    <p>Aaron Dutra is a hockey player for the Quebec Remparts in the QMJHL.  He lives in Quebec City during the season and spends his summers in his native Toronto. He has a passion for media and journalism which led to the development of Rally Media.  Aaron’s culmination of interests reflects the overall diversity of Rally Media.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail thumb-height">
                <img src="img/tred.jpg" class="img-circle">
                <div class="caption">
                    <h3>Tredegar Shea</h3>
                    <p>Tredegar Shea is an English Major at Dalhousie University, with interests in film, music, technology, sports, and the future. He spends his free time watching movies, managing rallymedia.ca, and listening to as much music as his ears can process. He was born and raised in Toronto, and continues to spend summers there.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail thumb-height">
                <img src="img/alex.jpg" class="img-circle">
                <div class="caption">
                    <h3>Alex McVittie</h3>
                    <p>Alex McVittie is a 20 year old journalism and psychology student at the University of King's College. She splits her time between Halifax, NS and Toronto, ON - often changing her hair colour with each arrival home. Alex loves sneakers, ballet and breakfast food.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail thumb-height">
                <img src="img/alex2.jpg" class="img-circle">
                <div class="caption">
                    <h3>Alex D'Addese</h3>
                    <p>Alex D'Addese is a 3rd year RTA Sport Media student at Ryerson University. He is also the varsity athletics photographer for the Ryerson Rams. He has worked for such organizations as the NBA, OHL, Hockey Canada, CIS, and many more.  He has had his work featured in Sportsnet Magazine, all across the OUA and CIS.  He has worked such events like 2016 NBA All-Star weekend in Toronto, 2015 IIHF World Junior Hockey Championship Gold Medal game, and CBC Play On! Road hockey Tournament. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Aaron Dutra</h3>
                    <p>Founder, Head Publisher, Director of Sports</p>
                </div>
            </div>
        </div>
</article>

<hr>

</div>

</body>

</html>
