<!DOCTYPE html>
<html lang="en">

<head>
    <title>Rally Media | Staff</title>

    {{> default_head }}
</head>

<body class="container">
    {{> header }}
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<article class="text-center">
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail thumb-height">
                <img src="img/aaron.jpg" class="img-circle">
                <div class="caption">
                    <h3>Aaron Dutra</h3>
                    <h4>Founder, Head Publisher, Director of Sports</h4>
                    <h5>Toronto/Quebec City</h5>
                    <p>Aaron Dutra is a hockey player for the Quebec Remparts in the QMJHL.  He lives in Quebec City during the season and spends his summers in his native Toronto. He has a passion for media and journalism which led to the development of Rally Media.  Aaron’s culmination of interests reflects the overall diversity of Rally Media.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail thumb-height">
                <img src="img/tred.jpg" class="img-circle">
                <div class="caption">
                    <h3>Tredegar Shea</h3>
                    <h4>Creative Lead, Co-Director of Arts and Lifestyle</h4>
                    <h5>Toronto/Halifax</h5>
                    <p>Tredegar Shea is an English Major at Dalhousie University, with interests in film, music, technology, sports, and the future. He spends his free time watching movies, managing rallymedia.ca, and listening to as much music as his ears can process. He was born and raised in Toronto, and continues to spend summers there.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail thumb-height">
                <img src="img/alex.jpg" class="img-circle">
                <div class="caption">
                    <h3>Alex McVittie</h3>
                    <h4>Editor in Chief, Co-Director of Arts and Lifestyle</h4>
                    <h5>Toronto/Halifax</h5>
                    <p>Alex McVittie is a 20 year old journalism and psychology student at the University of King's College. She splits her time between Halifax, NS and Toronto, ON - often changing her hair colour with each arrival home. Alex loves sneakers, ballet and breakfast food.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail thumb-height">
                <img src="img/alex2.jpg" class="img-circle">
                <div class="caption">
                    <h3>Alex D'Addese</h3>
                    <h4>Director of Photography</h4>
                    <h5>Toronto</h5>
                    <p>Alex D'Addese is a 3rd year RTA Sport Media student at Ryerson University. He is also the varsity athletics photographer for the Ryerson Rams. He has worked for such organizations as the NBA, OHL, Hockey Canada, CIS, and many more.  He has had his work featured in Sportsnet Magazine, all across the OUA and CIS.  He has worked such events like 2016 NBA All-Star weekend in Toronto, 2015 IIHF World Junior Hockey Championship Gold Medal game, and CBC Play On! Road hockey Tournament. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Carrera Kurnik</h3>
                    <h4>Director of Fashion</h4>
                    <p>Toronto/New York City</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Jesse Sutton</h3>
                    <h4>Writer</h4>
                    <p>Saint John's/Quebec City</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Emilia Hagen</h3>
                    <h4>Writer</h4>
                    <p>Kingston/Toronto</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Stephen Bateman</h3>
                    <h4>Writer</h4>
                    <p>Montreal/Toronto</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Julia Cirone</h3>
                    <h4>Writer</h4>
                    <p>Kingston/Toronto</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Cassandra Cervi</h3>
                    <h4>Writer</h4>
                    <p>London/Toronto</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Melissa Montana</h3>
                    <h4>Writer</h4>
                    <p>Montreal/Toronto</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Rachel Raditz</h3>
                    <h4>Writer</h4>
                    <p>Toronto/Halifax</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Adam Talmage</h3>
                    <h4>Writer</h4>
                    <p>Toronto/Halifax</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Adam Talmage</h3>
                    <h4>Writer</h4>
                    <p>Toronto/Halifax</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Francesco Pietropaolo</h3>
                    <h4>Writer</h4>
                    <p>Toronto</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Alex Pietropaolo</h3>
                    <h4>Writer</h4>
                    <p>Toronto</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Bridget McGlynn</h3>
                    <h4>Writer</h4>
                    <p>Toronto/Hamilton</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Grant Regillo</h3>
                    <h4>Writer</h4>
                    <p>Philadelphia/Dallas</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Will Kivlichan</h3>
                    <h4>Writer</h4>
                    <p>Toronto/Halifax</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Cam Saville</h3>
                    <h4>Writer</h4>
                    <p>Halifax/Toronto</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Danielle Paterson</h3>
                    <h4>Writer</h4>
                    <p>Toronto/New York City</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Andrea Furguiele</h3>
                    <h4>Writer</h4>
                    <p>Toronto/London</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Katherine Nelson</h3>
                    <h4>Writer</h4>
                    <p>Toronto/London</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Tate Dewey</h3>
                    <h4>Writer</h4>
                    <p>Los Angeles/Dallas</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Simon Hajjar</h3>
                    <h4>Lead Web Developer</h4>
                    <p>San Francisco</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Mitch Van Derhoeff</h3>
                    <h4>Database Administrator</h4>
                    <p>Waterloo/San Francisco</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Hitanshu Paruthi</h3>
                    <h4>Front-End Developer</h4>
                    <p>New Delhi/Waterloo</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Artem Litchmanov</h3>
                    <h4>Security Engineer</h4>
                    <p>Moscow</p>
                </div>
            </div>
        </div>

    </div>
</div>
</article>

<hr>

</div>

</body>

</html>
